<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.project.repository.CommentMapper">

    <select id="getRandomComments" resultType="www.project.domain.CommentVO">
        SELECT * FROM comment WHERE spoiler = 0 ORDER BY RAND() LIMIT #{limit}
    </select>

</mapper>